body {
    background-image: url('../images/body_background.gif'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
}

.skip {
    position: absolute;
    top: -40px;
    height: 25px;
    background-color: white;
}

.skip:focus {
    top: 10px;
}

#games {
    margin:auto;
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 8%;
}

  
.flip-card-inner {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 500px;
    text-align: center;
    transition: transform 0.8s, z-index 0s 0.4s; 
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 5%;
    width: 100%;
    height: 500px;  
    transition: transform 0.8s ease;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.flip-card-front {
    z-index: 2; 
    transform: translate(-3%, -3%); 
}

.flip-card-back {
    z-index: 1; 
    transform: translate(3%, 3%); 
    overflow: auto;
}

.flip-card-inner h3 {
    font-size: 24px; 
    margin: 10px 0; 
}

.flip-card-back p {
    font-size: 20px; 
    line-height: 1.2; 
    margin: 5%;
}

.platform{
    font-size: large;
    margin-bottom: 5%;
}

.platform button {
    font-size: inherit;
    margin: 0.2em; 
    border: none; 
}

nav{
    height: 40px;
    margin-bottom: 5%;
    background-color: transparent;
    text-align: center;
} 

nav li{
    line-height: 40px;
    display:inline;
    padding: 0 5%;
    position: relative;
}

nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

nav li:hover a::after,
nav li:focus-within a::after,
nav a:focus::after {
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    background-attachment: initial;
    backdrop-filter: blur(10px);
    z-index: 3;
}



.witcher {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/witcher_3_background.jpg');
    background-size: cover; 
    background-position: center; 
    font-family: 'thewitcher';
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
}

.redemption {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/red_dead_redemption_2_background.jpg');
    background-size: cover; 
    background-position: center; 
    font-family: 'Chinese Rocks Rg';
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
}

.mh {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/monster_hunter_rise_background.jpg');
    background-size: cover; 
    background-position: center; 
    font-family: 'Copperplate Gothic';
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
}

.assassin {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/assassin_creed_2_background.png');
    background-size: cover; 
    background-position: center; 
    font-family: 'Assassin$';
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
}


@font-face {
    font-family: 'thewitcher';
    src: url('thewitcher.woff2') format('woff2'),
        url('thewitcher.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chinese Rocks Rg';
    src: url('ChineseRocksRg-Regular.woff2') format('woff2'),
        url('ChineseRocksRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copperplate Gothic';
    src: url('CopperplateGothic-Bold.woff2') format('woff2'),
        url('CopperplateGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Assassin$';
    src: url('Assassin.woff2') format('woff2'),
        url('Assassin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}