body {
    background-image: url('../images/body_background_3.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
}

.skip {
    position: absolute;
    top: -40px;
    height: 20px;
    background-color: white;
}

.skip:focus {
    top: 50px;
}

nav {
    height: 50px;
    margin-bottom: 2%;
    background: linear-gradient(to top, transparent, black);
    text-align: center;
} 

nav li {
    line-height: 50px;
    display: inline;
    padding: 0 5%;
    position: relative;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

nav li:hover a::after,
nav li:focus a::after {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to bottom, transparent, black);
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}

#soundtrack {
    margin:auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

#spotify {
    grid-column: 1 / span 2;
}

.icon img{
    cursor: pointer;
    height: auto; 
    width: 90%;
    background: transparent;
    margin: 5%;
    transition: transform 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.icon img:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
    #soundtrack {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        align-items: center;
    }
    
    #spotify {
        grid-column: 1 / span 4;
    }
}